@use './mixins.scss' as mixin;

.b1 {
    background-color: white;
    border: 1px solid white;
}
  
.b2 {
    background-color: green;
    border: 1px solid green;
}

.b3 {
    background-color: blue;
    border: 1px solid blue;
}

.b4 {
    background-color: purple;
    border: 1px solid purple;
}

.br{
    @include mixin.xs {
        border: 2px solid red;
    }

    @include mixin.sm {
        border: 2px solid green;
    }

    @include mixin.md {
        border: 2px solid rgb(16, 16, 3);
    }

    @include mixin.lg {
        border: 2px solid rgb(84, 1, 1);
    }

    @include mixin.xl {
        border: 2px solid rgb(42, 165, 108);
    }
}