@use './mixins.scss' as mixin;

.btn {

    border-radius: 20px;
    margin-right: 10px;
    transition: 0.8 opacity;
    &:hover{
        opacity: 0.8;
    }
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);

}

.btn-reverse-primary {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.nav-bar {
    display: none;
    color: var(--primary);
    @include mixin.xs{
        display: block;
    }
}

.text-primary {
    color: var(--primary);
}